@charset "UTF-8";

/* ページ全体のスタイル ----------*/
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}


/* 部品 ----------*/
.point,
.contact,
.course,
.cost {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

/* タイトル */
.section-title {
    margin: 1rem auto .625rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .section-title {
        font-size: 2.25rem;
    }
}

.section-title span {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #F11F8D;
}

@media (min-width:768px) {
    .section-title span {
        font-size: 3.375rem;
    }
}

/* ボタン */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.0625rem;
    height: 4.3125rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 2.1875rem;
}

@media (min-width:768px) {
    .button {
        width: 22.5rem;
        height: 4.6875rem;
        border-radius: 2.375rem;
    }
}


.hamburger-nav-button {
    margin: 1.0625rem auto 2rem;
    width: 20.9375rem;
    height: 4.125rem;
    font-size: 1.125rem;
    color: #005BAC;
    background-color: #fff;
}

@media (min-width:768px) {
    .hamburger-nav-button {
        margin-top: 2rem;
        width: 17.625rem;
        height: 3.8125rem;
        font-size: 1.25rem;
        color: #fff;
        background: linear-gradient(to right, #0271E0, #53A2F0);
    }
}

@media (min-width:768px) and (max-width:1099.9px) {
    .hamburger-nav-button {
        width: 14rem;
        font-size: 1rem;
    }
}


/* ホバー時 */
.transform {
    overflow: hidden;
}

.transform:hover img {
    transform: scale(1.2, 1.2);
    transition: transform .6s ease;
}




/* ヘッダー ----------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375rem;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .1);
}

@media (min-width:768px) {
    .header {
        height: 6.3125rem;
        justify-content: unset;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:768px) {
    .header-container {
        max-width: 1200px;
        height: 6.375rem;
        margin: 0 auto;
        padding: 0 1.25rem;
        display: flex;
    }
}

@media (min-width:768px) and (max-width:999.9px) {
    .header-container {
        padding-left: 1.25rem;
        padding-right: 0;
    }
}


/* ロゴ */
.header-logo {
    margin-left: 1rem;
    line-height: 1;
}


@media (min-width:768px) {
    .header-logo {
        margin-left: 0;
        width: 15.5rem;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    width: 4.375rem;
    height: 4.375rem;
    background-color: #005BAC;
}

@media (min-width:768px) and (max-width:999.9px) {
    .hamburger-button {
        width: 6.4375rem;
        height: 6.4375rem;
    }
}

@media (min-width:1000px) {
    .hamburger-button {
        display: none;
    }
}

.hamburger-button span {
    display: block;
    position: relative;
    left: 50%;
    width: 1.875rem;
    height: .3125rem;
    transform: translateX(-50%);
    background-color: #fff;
}

.hamburger-button span:first-child {
    top: -.3125rem;
}

.hamburger-button span:last-child {
    top: .375rem;
}


/* ハンバーガーメニュー */
@media(max-width:999.9px) {
    .hamburger-menu {
        position: fixed;
        top: 6.375rem;
        width: 100vw;
        background-color: #005BAC;
        opacity: 0;
        visibility: hidden;
    }
}

@media(max-width:767.9px) {
    .hamburger-menu {
        top: 4.375rem;
    }
}

@media(min-width:768px) and (max-width:999.9px) {
    .hamburger-menu {
        left: 0;
    }
}

@media (min-width:1000px) {
    .hamburger-menu {
        display: flex;
        column-gap: 2.8125rem;
        align-items: center;
        opacity: 1;
    }
}

.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
}

.hamburger-menu-list {
    margin: 0 auto;
    max-width: 500px;
    padding: .4375rem .8125rem;
    font-size: 1.125rem;
    font-weight: 500;
}

@media (min-width:1000px) {
    .hamburger-menu-list {
        padding: 0;
        display: flex;
        column-gap: 2.6875rem;
        font-size: 1.25rem;
    }
}


.hamburger-menu-list li {
    padding-bottom: .1875rem;
}

.hamburger-menu-list .bi {
    font-size: 1.75rem;
    vertical-align: -.125rem;
}

@media (min-width:1000px) {
    .hamburger-menu-list .bi {
        display: none;
    }
}

.hamburger-menu-list span {
    padding-left: .3125rem
}

.hamburger-menu-list li:last-child span {
    letter-spacing: .25rem;
}


.hamburger-menu-list li::after {
    content: "";
    display: block;
    margin-top: .625rem;
    margin-left: .4375rem;
    width: 96%;
    height: .0625rem;
    background-color: rgba(255, 255, 255, .5);
}

@media (min-width:1000px) {
    .hamburger-menu-list a {
        color: #333;
    }
}

@media (min-width:1000px) {
    .hamburger-menu-list li::after {
        display: none;
    }
}


/* cover---------- */
.cover {
    padding-top: 4.375rem;
    padding-bottom: .0625rem;
}

@media (min-width:768px) {
    .cover {
        padding-top: 6.375rem;
    }

}

.cover .container {
    width: 100%;
}

.cover-top {
    background-image: url(/assets/image/cover/mainVIsual_sp.jpg);
    background-size: cover;
    background-position: top center;
}

@media (min-width:768px) {
    .cover-top {
        background-image: url(/assets/image/cover/mainVIsual_pc.jpg);
    }
}

.cover-top-container {
    max-width: 375px;
    height: 250px;
    margin: 0 auto;
    padding-top: 2.125rem;
    padding-left: 1rem;
}

@media (min-width:768px) {
    .cover-top-container {
        max-width: 1200px;
        height: 651px;
        padding-top: 6.5625rem;
        padding-left: 3.125rem;
    }
}

.cover-top-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3125rem;
}

@media (min-width:768px) {
    .cover-top-block {
        margin-bottom: 1.875rem;
        column-gap: 1.25rem;
    }
}

.cover-top-block img {
    width: 1.5rem;
    height: 4.25rem;
}

@media (min-width:768px) {
    .cover-top-block img {
        width: 3.2875rem;
        height: 9.375rem;
    }
}

.cover-top-lead {
    line-height: 0;
    text-align: center;
    margin-top: .5625rem;
}

@media (min-width:768px) {
    .cover-top-lead {
        margin-top: 1.375rem;
    }
}

.cover-top-lead p:first-child {
    font-size: .6875rem;
}

@media (min-width:768px) {
    .cover-top-lead p:first-child {
        margin-bottom: 4.1875rem;
        font-size: 1.25rem;
    }
}

.cover-top-lead p:last-child {
    margin-top: 2.0625rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5625rem;
    font-weight: 800;
    font-style: italic;
    color: #F11F8D;
}

@media (min-width:768px) {
    .cover-top-lead p:last-child {
        font-size: 3.375rem;
        text-indent: .625rem;
    }
}

.cover-top-lead p:last-child span {
    font-size: 2.25rem;
}

@media (min-width:768px) {
    .cover-top-lead p:last-child span {
        font-size: 4.625rem;
    }
}

.cover-catch {
    line-height: 1.46;
}

.cover-catch p:first-child {
    font-size: .875rem;
}

@media (min-width:768px) {
    .cover-catch p:first-child {
        margin-bottom: .25rem;
        font-size: 2.0625rem;
    }
}

.cover-catch p:last-child {
    font-size: 1.5625rem;
    font-weight: 900;
    color: #005BAC;
}

@media (min-width:768px) {
    .cover-catch p:last-child {
        font-size: 3.75rem;
    }
}

.cover-bottom {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}


@media (min-width:768px) {
    .cover-bottom {
        margin-top: -2.375rem;
        padding: 0 1rem;
        position: relative;
        flex-direction: row;
        justify-content: center;
        column-gap: 2.1%;
        font-size: 1.5rem;
    }
}

.cover-bottom a {
    width: 15.625rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
    border-radius: 1.5625rem;
}

@media (min-width:768px) {
    .cover-bottom a {
        width: 21.25rem;
        height: 4.6875rem;
        border-radius: 2.375rem;
    }

}

.cover-bottom a:first-child {
    background-color: #77CB33;
}

.cover-bottom a:nth-child(2) {
    background-color: #F6AA00;
}

.cover-bottom a:last-child {
    margin-bottom: 0;
    background-color: #3AC8AD;
}

@media (min-width:768px) {
    .cover-bottom a:last-child {
        margin-bottom: .75rem;
    }
}



/* point ---------- */
.point {
    padding: 0 1rem 2.125rem;
}

@media (min-width:768px) {
    .point {
        padding-top: 2.125rem;
        padding-bottom: 3.625rem;
    }
}


.point .container {
    max-width: 500px;
}

@media (min-width:768px) {
    .point .container {
        max-width: 1160px;
    }
}

@media (min-width:768px) {
    .point-list {
        margin-top: 1.4375rem;
    }
}


@media (min-width:768px) {
    .point-list-content {
        display: flex;
        column-gap: 2.5rem;
        padding-bottom: .875rem;
    }
}

@media (min-width:768px) {
    .point-list-content:nth-child(2) {
        flex-direction: row-reverse;
    }
}


.point-list-content:not(:last-child) {
    margin-bottom: 2.125rem;
}

.point-list-content img {
    width: 100%;
}

@media (min-width:768px) and (max-width:1499.9px) {
    .point-list-content img {
        margin-top: 3.125rem;
    }
}


@media (min-width:768px) {
    .point-list-content picture {
        width: 165%;
    }
}

@media (min-width:768px) {
    .point-list-content-item {
        width: 165%;
    }

}

.point-list-heading {
    line-height: 1;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
}

@media (min-width:768px) {
    .point-list-heading {
        margin-top: .5rem;
        margin-bottom: .5rem;
        font-size: 1.75rem;
    }
}

.point-list-heading span {
    font-size: 2.25rem;
}

@media (min-width:768px) {
    .point-list-heading span {
        font-size: 2.625rem;
    }
}

.point-list-lead {
    line-height: 1.4;
    margin-top: .5rem;
    margin-bottom: .625rem;
    font-size: 1.25rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .point-list-lead {
        margin-bottom: 1.125rem;
        font-size: 1.5rem;
    }
}

@media (min-width:768px) {
    .point-list-content:not(:first-child) .point-list-lead {
        line-height: 1.65;
    }
}



/* contact ---------- */
.contact {
    padding-top: 2.375rem;
    padding-bottom: 1.875rem;
    text-align: center;
    background-color: rgba(255, 85, 85, .1);
}

@media (min-width:768px) {
    .contact {
        padding-top: 3.375rem;
        padding-bottom: 2.375rem;
    }
}

.contact .container {
    width: 80%;
}

.contact a {
    margin: .625rem auto;
    background: linear-gradient(to right, #0271E0, #53A2F0);
}

@media (min-width:768px) {
    .contact a {
        margin: 1.125rem auto;
        padding-left: 1.4375rem;
        font-size: 1.5rem;
    }
}




/* course ---------- */
.course {
    padding-top: 2.75rem;
    padding-bottom: 4rem;
}

@media (min-width:768px) {
    .course {
        padding-top: 3.1875rem;
        padding-bottom: 2.875rem;
    }
}

.course .container {
    width: 100%;
}

.course .section-title {
    text-indent: 1rem;
}

@media (min-width:768px) {
    .course .section-title {
        text-indent: 0;
    }
}

/* タブ */
.st-theme-basic {
    margin-top: 1rem;
    border: none;
}

@media (min-width:768px) {
    .st-theme-basic {
        margin: 1.625rem auto;
        padding: 0 1rem;
        max-width: 1192px;
    }
}

/* タブナビゲーション */
.tab.st>.nav {
    flex-direction: row !important;
    column-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width:768px) {
    .tab.st>.nav {
        margin-left: 0;
        margin-right: 0;
        column-gap: 1.875rem;
    }
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
    height: 4.0625rem;
    font-size: 1.125rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .tab.st-theme-basic>.nav {
        height: 4.6875rem;
        font-size: 1.5rem;
    }
}

.tab.st-theme-basic>.nav .nav-link {
    width: auto;
    color: rgba(51, 51, 51, .5);
    background-color: #F0F0F0;
    border-radius: 0.5rem 0.5rem 0 0;
}

.st.st-justified>.nav .nav-link,
.st.st-justified>.nav>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px) {
    .st.st-justified>.nav li:first-child .nav-link {
        margin-right: .3125rem;
    }
}


/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    color: #333 !important;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ */
.st>.tab-content>.tab-pane {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width:768px) {
    .st>.tab-content>.tab-pane {
        display: flex;
        flex-wrap: wrap;
        column-gap: .625rem;
    }
}

.tab-content {
    padding: 1rem .1875rem 0px .1875rem;
    width: 100%;
    min-height: 1212px;
    text-align: center;
    background-color: #F2F9FF;
}

@media (min-width:768px) {
    .tab-content {
        padding: 1.25rem;
        padding-right: 1.375rem;
        min-height: 623px;
    }
}

.course-tab-content-item {
    margin: 0 auto 1.125rem;
    max-width: 500px;
}

.course-tab-content-item a {
    color: #333;
}

@media (min-width:768px) {
    .course-tab-content-item {
        margin: 0 auto 1.75rem;
        max-width: 532px;
        width: calc((100% - 31px)/2);
    }
}

.course-tab-content-item img {
    width: 93%;
    border-radius: .75rem;
}

@media (min-width:768px) {
    .course-tab-content-item img {
        width: 100%;
    }
}

.course-tab-content-title {
    margin-left: .375rem;
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .course-tab-content-title {
        margin-left: -.5rem;
    }
}

.course-tab-content-title .bi {
    font-size: 1.8125rem;
    color: #005BAC;
    vertical-align: -.1875rem;
}

@media (min-width:768px) {
    .course-tab-content-title .bi {
        margin-right: .25rem;
        font-size: 2rem;
    }
}



/* cost ---------- */
.cost {
    margin-top: 3.75rem;
    padding-bottom: 4rem
}

@media (min-width:768px) {
    .cost {
        margin-top: 4.1875rem;
        margin-bottom: .5rem;
    }
}

.cost .section-title {
    margin-bottom: .9375rem;
    text-indent: 1.25rem;
    letter-spacing: .3125rem;
}

@media (min-width:768px) {
    .cost .section-title {
        margin-bottom: 1.625rem;
        text-indent: .5rem;
        letter-spacing: .5rem;
    }
}

/* 料金表 */
.cost-table {
    margin: 0 auto;
    width: 91.5%;
    max-width: 500px;
    border: #CCC solid .1875rem;
    border-collapse: collapse;
}

@media (min-width:768px) {
    .cost-table {
        width: 31.3%;
        max-width: 1500px;
        min-width: 500px;
        font-size: 1.125rem;
    }

}

.cost-table th {
    font-weight: 400;
}

.cost-table-heading {
    background-color: #F5F5F5;
}

.cost-table-heading th {
    padding: 1.125rem;
    border: #CCC solid .0625rem;
}

@media (min-width:768px) {
    .cost-table-heading th {
        padding: 1.3125rem;
    }
}

.cost-table-heading th:last-child {
    padding-left: .3125rem;
}

@media (min-width:768px) {
    .cost-table-heading th:last-child {
        padding-left: 1.3125rem;
    }
}

.cost-table-body th,
.cost-table-body td {
    border: #CCC solid .0625rem;
}

.cost-table-body th {
    width: 34.1%;
    padding: 1.0938rem;
}

@media (min-width:768px) {
    .cost-table-body th {
        width: 24%;
        padding: 1.4375rem;
    }
}

@media (min-width:768px) {
    .cost-table-body tr:nth-child(4) th {
        padding-bottom: 1.3125rem;
    }
}

.cost-table-body tr:last-child th {
    padding-bottom: .9375rem;
}

@media (min-width:768px) {
    .cost-table-body tr:last-child th {
        padding-bottom: 1.25rem;
    }
}

.cost-table-body td {
    text-align: center;
    text-indent: -.375rem;
    color: #F23397;
}

@media (min-width:768px) {
    .cost-table-body td {
        text-indent: 0;
    }
}


.cost-table-body tr:last-child td {
    text-indent: 1rem;
    padding-top: .125rem;
}

@media (min-width:768px) {
    .cost-table-body tr:last-child td {
        text-indent: 0;
    }
}

.cost-table-body td span {
    font-family: "Poppins", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .cost-table-body td span {
        font-size: 2rem;
    }
}



/* フッター ---------- */
.footer {
    padding-bottom: 1.875rem;
    background-color: #DDD;
}

@media (min-width:768px) {
    .footer {
        padding-bottom: 3rem;
    }
}

.footer-nav-list-group {
    display: flex;
    flex-direction: column;
}

.qa {
    position: relative;
}

.search {
    position: relative;
}

@media (min-width:768px) {
    .footer-nav-list-group {
        flex-direction: row;
    }
}

.footer-nav-list-group li {
    display: flex;
    text-align: justify;
    font-size: 1.375rem;
    font-weight: 700;
}

@media (min-width:1100px) {
    .footer-nav-list-group li {
        font-size: 2rem;
    }
}

.footer-nav-list-group img {
    max-width: none;
    width: 100vw;
}

@media (min-width:768px) {
    .footer-nav-list-group img {
        width: 100%;
    }
}

.footer-nav-list-group p {
    position: absolute;
    z-index: 2;
    top: 38%;
    left: 4%;
}

@media (min-width:768px) {
    .footer-nav-list-group p {
        top: 41%;
        left: 35%;
    }
}

@media (min-width:768px) {
    .qa p {
        left: 38.5%;
    }
}



/* コピーライト */
.copyright {
    margin-top: 1.375rem;
    text-align: center;
    text-indent: 1rem;
}

@media (min-width:768px) {
    .copyright {
        margin-top: 2.5625rem;
        text-indent: 0;
    }
}

small {
    font-family: "Poppins", sans-serif;
    font-size: .8125rem;
}