@charset "UTF-8";

/* ページ全体のスタイル ----------*/
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}


/* 部品 ----------*/
.point,
.contact,
.course,
.cost {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 91.5%;
}

/* タイトル */
.section-title {
    margin: 1rem auto .625rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

.section-title span {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #F11F8D;
}

/* ボタン */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.0625rem;
    height: 4.3125rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 2.1875rem;
}

.button-blue {
    background: linear-gradient(to right, #0271E0, #53A2F0);
}


/* ヘッダー ----------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .1);
}

/* ロゴ */
.header-logo {
    position: relative;
    display: flex;
    line-height: 1;
    width: 10.4375rem;
    top: 1.125rem;
    left: 1rem;
}

/* ハンバーガーボタン */
.hamburger-button {
    width: 4.375rem;
    height: 4.375rem;
    background-color: #005BAC;
}

.hamburger-button span {
    display: block;
    position: relative;
    left: 50%;
    width: 30px;
    /*線の横幅*/
    height: 2px;
    /* 線の高さ*/
    transform: translateX(-50%);
    background: #fff;
    /*線の色*/
}


/* ハンバーガーメニュー */
@media(max-width:767.9px) {
    .hamburger-menu {
        position: fixed;
        top: 4.4375rem;
        background-color: #005BAC;
        transition: opacity .3s linear;
        opacity: 0;
        visibility: hidden;
    }
}

.hamburger-menu-active {
    opacity: 1;
    visibility: visible;
}


/* cover---------- */
.cover {
    padding-bottom: .0625rem;
}

.cover .container {
    width: 100%;
}

.cover-top {
    height: auto;
    position: relative;
    top: 4.4375rem;
}

.cover-top img {
    max-width: none;
    width: 104%;
}

.cover-top-block {
    position: absolute;
    top: 2.125rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
}

.cover-top-block img {
    width: 1.5rem;
    height: 4.25rem;
}

.cover-top-lead {
    line-height: 0;
    text-align: center;
    margin-top: .5rem;
}

.cover-top-lead p:first-child {
    font-size: .6875rem;
}

.cover-top-lead p:last-child {
    margin-top: 2.0625rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5625rem;
    font-weight: 800;
    font-style: italic;
    color: #F11F8D;
}

.cover-top-lead p:last-child span {
    font-size: 2.25rem;
}


.cover-catch {
    position: absolute;
    bottom: 2.1875rem;
    left: 1rem;
    line-height: 1.46;
}

.cover-catch p:first-child {
    font-size: .875rem;
}

.cover-catch p:last-child {
    font-size: 1.5625rem;
    font-weight: 900;
    color: #005BAC;
}

.cover-bottom {
    margin-top: 5.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.cover-bottom a {
    width: 15.625rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
    border-radius: 1.5625rem;
}

.cover-bottom a:first-child {
    background-color: #77CB33;
}

.cover-bottom a:nth-child(2) {
    background-color: #F6AA00;
}

.cover-bottom a:last-child {

    margin-bottom: 0;
    background-color: #3AC8AD;
}


/* point ---------- */
.point-list-content {
    margin-bottom: 2.125rem;
}

.point-list-heading {
    line-height: 1;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
}

.point-list-heading span {
    font-size: 2.25rem;
}

.point-list-lead {
    line-height: 1.4;
    margin-top: .5rem;
    margin-bottom: .625rem;
    font-size: 1.25rem;
    font-weight: 700;
}



/* contact ---------- */
.contact {
    padding-top: 2.375rem;
    padding-bottom: 1.875rem;
    text-align: center;
    background-color: rgba(255, 85, 85, .1);
}

.contact .container {
    width: 80%;
}

.contact a {
    margin: .625rem auto;
    background: linear-gradient(to right, #0271E0, #53A2F0);
}


/* course ---------- */
.course {
    padding-top: 2.75rem;
}

.course .container {
    width: 100%;
}

.course .section-title {
    text-indent: 1rem;
}

/* タブ */
.st-theme-basic {
    margin-top: 1rem;
    border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
    flex-direction: row !important;
    column-gap: 0.5rem;
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
    height: 4.0625rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.tab.st-theme-basic>.nav .nav-link {
    width: auto;
    color: rgba(51, 51, 51, .5);
    background-color: #F0F0F0;
    border-radius: 0.5rem 0.5rem 0 0;
}


/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    color: #333 !important;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ */
.tab-content {
    width: 100%;
    text-align: center;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.tab-content>.tab-pane {
    padding: 1.5rem 1.5rem 1.1875rem;
    margin: 1rem;
}


/* cost ---------- */



/* フッター ---------- */